# AppConfig
APP_ENV=APP_ENV
APP_PORT=APP_PORT
ALLOWED_ORIGINS=ALLOWED_ORIGINS

# DatabaseConfig
DATABASE_URL=DATABASE_URL

# SupabaseConfig
SUPABASE_URL=SUPABASE_URL
SUPABASE_ANON_KEY=SUPABASE_ANON_KEY
JWT_SECRET=JWT_SECRET

# ResendConfig
RESEND_API_KEY=RESEND_API_KEY

# IDGenConfig
STAFF_ID_PREFIX=STAFF_ID_PREFIX
CUSTOMER_ID_PREFIX=CUSTOMER_ID_PREFIX
SUPPLIER_ID_PREFIX=SUPPLIER_ID_PREFIX